.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #6e1164,#6e0003);
  color: whitesmoke;
  padding: 1rem;
}
.navbar-brand{
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar-login button{
  color: whitesmoke;
  border: none;
  background: transparent;
}
button:hover{
  cursor: pointer;
}