<mat-sidenav-container>
  <mat-sidenav>Start</mat-sidenav>
  <mat-sidenav position="end">End</mat-sidenav>
  <section>Paz y salvo App es un sistema de gestion que permite a los usuarios administrar sus facturas de ventas </section>
  <mat-divider [inset]="true"></mat-divider>
  <div class="menu-options">
    <button class="btnHome">
      <mat-icon class="mat-icon-rtl-mirror">home</mat-icon>
      <span>Home</span>
    </button>
    <button class="btnFactura">
      <mat-icon class="mat-icon-rtl-mirror">list</mat-icon>
      <span>facturas</span>
    </button>
  </div>
  <mat-divider [inset]="true"></mat-divider>
</mat-sidenav-container>
