<div class="login-card">
<h3 class="login-title">Iniciar Seccion</h3>
<div class="login-form">
  <form action="">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Usuario">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="******">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint> 
      </mat-form-field>
    </p>
  </form>
</div>
</div>
